<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>Make It Sound Natural</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ar</string>
		<string>de</string>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>ja</string>
		<string>pt</string>
		<string>ru</string>
		<string>zh</string>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>This app needs accessibility permissions to read and replace selected text system-wide.</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/make-it-sound-natural/misn-desktop/master/appcast.xml</string>
	<!-- TODO: Add your Sparkle EdDSA public key here after running: ./macos/Pods/Sparkle/bin/generate_keys -->
	<key>SUPublicEDKey</key>
	<string>YxCr1lw+FpanLmQu9dFNftDV5aWmsBXVrDb2wFUPhQM=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
